.DS_Store
/backend/__pycache__
/frontend/node_modules
frontend/package-lock.json
/backend/tests/__pycache__
/airflow/logs
/airflow/dags/__pycache__
/airflow/dags
/airflow/plugins/__pycache__

.env
nginx/nginx.conf
nginx/.htpasswd
backend/id_rsa_container
frontend/vite.config.js


__pycache__/*
backend/alembic/
backend/alembic.ini
backend/schema.json
backend/crud/__pycache__/*
backend/Models/__pycache__/*
backend/Schema/__pycache__/*
backend/Route/__pycache__/*
backend/airflow_scripts/
backend/tests/
backend/workflows/outputs/*
backend/workflows/uploads/*
!backend/workflows/outputs/.gitkeep
!backend/workflows/uploads/.gitkeep
dataDUMP
backend/workflows/TEST_*/