fastapi
uvicorn
requests
python-keycloak
fastapi-users
pytest
httpx
sqlalchemy
psycopg2
streamflow==0.2.0.dev13
celery==5.5.3
redis==5.0.0 
websockets
cwl-upgrader==1.2.12
cwl-utils==0.39
cwltool==3.1.20251031082601
schema-salad
python-logstash==0.4.8